
.inner-page-banner{
      background: linear-gradient(115.26deg, #4DD6B0 -0.06%, #4D5BE5 106.1%);
      padding: 132px 0px 0px;
     .container{
     	background: url('assets/images/inner-crcl.png')3% 0%  no-repeat;
     	padding-top:40px;
     }

	h1{
		font-size: 48px;
        line-height: 48px;

	}
	p{
      padding:0;
      letter-spacing: 0.03em;

	}

}



